.AboutWrapper{
 position: relative;
  width: 100%;
  height: 97vh;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.bgimg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AboutSubWrapper{
  background-color: var(--primary);
  border: 2px solid var(--primary2);
  border-radius: 20px 0;
  display: flex;
  width: 80%;
  margin-top: 40px;
}

.logo{
    width: 350px;
  margin-bottom: 15px;
}

.AboutTextWrapper{
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.AboutText{
  color: white;
  font-size: 1.5em;
  padding: 20px;
  gap: 10px;
}