.SignupWrapper{
 position: relative;
  width: 100%;
  height: 97vh;
  overflow: hidden;
}

.bgimg{
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.signupFormWrapper {
  position: absolute;
  z-index: 100;
  background-color: var(--primary);
    border: 2px solid var(--primary2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  gap: 25px;
}

.signupHeading{
  color: white;
  font-size: 40px;
}

.inputFeildDiv{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputFeild{
  border: 2px solid var(--primary2);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}
