@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.App {
  margin: 0;
  padding: 0;
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
}

:root{
    --primary:rgba(71, 64, 44, 0.842);
    --primary2:#19B228;
    --secondary:#19B100;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}