.button {
  padding: 0.5rem 1.2rem;
  height: auto;             
  width: auto;
  background-color: var(--primary2); 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
