.homeWrapper {
  position: relative;
  width: 100%;
  height: 97vh;
  overflow: hidden;
}

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo {
  width: 350px;
  margin-bottom: 15px;
}

.headingBox {
  text-align: center;
  color: white;
}

.mainHeading {
  font-size: 100px;
  letter-spacing: 3px;
  margin: 0;
}

.strokeText {
  color: transparent;
  -webkit-text-stroke: 0.5px white;
}

.subHeading {
  margin-top: -10px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.getStarted {
  margin-top: 40px;
  padding: 12px 35px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: var(--primary2);
  color: white;
  transition: 0.3s ease;
}

.getStarted:hover {
  background: var(--secondary);
  color: white;
}
