.HistoryWrapper {
  position: relative;
  width: 100%;
  height: 97vh;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
}

.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MainHeading {
  margin-top: 100px;
  color: white;
  font-size: 4em;
  position: relative;
  z-index: 1;
  text-decoration: underline;
}

.HistoryWrapper2 {
  width: 60%;
  margin: auto;
  padding: 50px 100px;
}

.HistoryList{
  border: 3px solid var(--primary2);
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: var(--primary);
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.resultHistory{
  color: white;
}

.historyImage{
  border-radius: 20px 0;
  height: 250px;
  width: 250px;
}